/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/*#admin-navbar {
	position: fixed;
	background-color: white;
	border-bottom: 3px solid #428bca;
	padding: 5px;
}

#admin-body {
	position: relative;
	top: 60px;
	z-index: -1;
}*/
body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/*.btn-primary{
    background-color:#B0197E;
    border-color:#B0197E;
    color:#FFF;
    transition: all .1s ease-in;
    -webkit-transition: all .1s ease-in;
    -moz-transition: all .1s ease-in;
    -ms-transition: all .1s ease-in;
}
.btn-primary:hover,
.btn-primary:focus{
    background-color:#9E1671;
    border-color:#9E1671;
    
}
*/

.btn-primary:disabled {
	border-color: #DDD;
	background-color: #DDD;
}

.slot-disabled {
	color: #999;
}

.slot-enabled {
	color: #222;
}

.center {
	text-align: center;
}

.slide.ng-enter, .slide.ng-leave {
	-webkit-transition:0.5s linear all;
	transition:0.5s linear all;
	opacity: 0;
}
.slide.ng-enter, .slide.ng-leave-active {
	opacity: 0;
}
.slide.ng-leave, .slide.ng-enter-active {
	opacity: 1;
}

.credits {
	font-size: 1.25em;
	font-weight: bold;
}

.spacer-h {
	margin: 0 5px;
}

.spacer-v {
	margin: 5px 0;
}

.pressed {
	background-color: #EEEEEE;
}


.item {
	width: 50%;
}
.item-admin {
	width: 40%;
}
.price {
	width: 25%;
}
.price-admin {
	width: 15%;
}
.actions {
	width: 25%;
}
.actions-admin {
	width: 45%;
}

.drops-table {
	margin-bottom: 0;
}

.small-text {
	font-size: .85em;
}

.panel-heading {
	text-align: center;
}

/* prevent the credit buttons from wrapping on very small screens */
@media (max-width: 350px) {
	.credit-buttons {
		padding-right: 0;
	}
}

.navbar-brand-icon{
    height:32px;
    margin-right:-6px;
    margin-top:-5px;
}
.navbar-brand{
    margin-top:-2px;
}
/*
.panel-default .panel-heading{
    background-color:#B0197E;
    border-color:#B0197E;
    color:#FFF;
}
*/
/*
.actions {
	width: 50%;
}
*/

/* Small devices (tablets, 768px and up) 
@media (min-width: 768px) { 
	.actions {
		width: 30%;
	}
}
*/

/* Medium devices (desktops, 992px and up) 
@media (min-width: 992px) {
	.actions {
		width: 50%;
	}
}
*/

/* Large devices (large desktops, 1200px and up) 
@media (min-width: 1200px) {
	.actions {
		width: 40%;
	}
}
*/