<div>
	<div class="row">
		<div class="col-md-6 col-sm-12">
			<h3>Manage Users</h3>
			<div class="input-group">
				<input type="text" class="form-control" placeholder="Username" list="usernames" ng-model="searchTerm" ng-change="getUsers();" ng-keypress="loadUserEnter($event);">
		      	<span class="input-group-btn">
		        	<button class="btn btn-primary" type="button" ng-click="loadUser();">
		        		<span class="glyphicon glyphicon-search"></span>
		        	</button>
		      	</span>
		    </div>
		    <datalist id="usernames">
		    	<option ng-repeat="username in searchResults" value="{{ username.uid }}">
		    		{{ username.cn }}
		    	</option>
		    </datalist>
		</div>
	</div>
	<br/>
	<div class="row" ng-show="activeUser.uid.length > 0">
		<div class="col-md-6 col-sm-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">{{ activeUser.cn }}'s Credits</h3>
				</div>
				<div class="panel-body">
					<div class="row center">
						<div class="col-md-4 col-sm-4 col-xs-12">
							<span class="credits">{{ activeUser.credits }}</span>
							<p>Credits</p>
						</div>
						<div class="col-md-4 col-sm-4 col-xs-6 spacer-v credit-buttons">
							<div class="btn-group">
							    <button type="button" class="btn btn-default" ng-click="changeType('add');" ng-class="(transactionType == 'add') ? 'pressed' : ''">
							    	<span class="glyphicon glyphicon-plus"></span>
							   	</button>
							    <button type="button" class="btn btn-default" ng-click="changeType('subtract');" ng-class="(transactionType == 'subtract') ? 'pressed' : ''">
							    	<span class="glyphicon glyphicon-minus"></span>
							    </button>
							    <button type="button" class="btn btn-default" ng-click="changeType('adjust');" ng-class="(transactionType == 'adjust') ? 'pressed' : ''">
							    	<span class="glyphicon glyphicon-pencil"></span>
							    </button>
							</div>
						</div>
						<div class="col-md-4 col-sm-4 col-xs-6 spacer-v">
							<input type="number" class="form-control" ng-model="creditChange" value="0"/>
						</div>
					</div>
					<div class="row center">
						<div class="col-md-6 col-md-offset-3 col-sm-12">
							<button class="btn btn-success" ng-click="updateCreditsDos();">Update</button>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<alert data="alert"></alert>
				</div>
			</div>
		</div>
		<div class="col-md-6 col-sm-12">
			<drops data="drops_table"></drops>
		</div>
	</div>
</div>