<div ng-controller="TempCtrl">
	<div class="row">
		<div class="col-md-6 col-sm-12">
			<h3>Machine Temperatures</h3>
		</div>
	</div>
	<div class="row" ng-repeat="machine in machines">
		<div class="col-md-12 col-sm-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">{{ machine.name }}</h3>
				</div>
				<div class="panel-body">
					<div id="{{ machine.alias }}" style="width: 100%; min-width: 600px; height: 400px;">
						<p class="center">Crunching a crapton of data, give it a few seconds...</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>