<div>
	<alert data="message_alert"></alert>
	<alert data="websocket_alert"></alert>
	<!-- Select Slot Modal -->
	<modal data="select_modal" submit="startDrop" close="">
		<form class="form-horizontal" role="form">
	    <div class="form-group row">
	    	<div class="col-md-4">
	    		<label class="control-label">Delay (Seconds):</label>
	    	</div>
		    <div class="col-md-8">
		       <input ng-model="select_modal.delay" type="number" class="form-control" min="0" ng-keydown=""/>
		    </div>
	    </div>
		</form>
	</modal>
	<!-- Drop Drink Modal -->
	<modal data="drop_modal" submit="" close="">
		<p class="center">{{ dropping_message }}</p>
	</modal>
	<!-- Edit Slot Modal -->
	<modal data="edit_modal" submit="saveSlot" close="">
		<form class="form-horizontal" role="form">
	    <div class="form-group row">
	    	<div class="col-md-3">
	    		<label class="control-label">Item: </label>
	    	</div>
		    <div class="col-md-9">
		        <select class="form-control" ng-model="new_slot.item_id">
					<option ng-repeat="item in items | orderBy:'item_name'" ng-value="item.item_id" ng-selected="current_slot.item_id == item.item_id">{{ item.item_name }}</option>
				</select>
		    </div>
	    </div>
	    <div class="form-group row">
	    	<div class="col-md-3">
	    		<label class="control-label">Available: </label>
	    	</div>
		    <div class="col-md-9">
		       <input class="form-control" type="number" min="0" ng-model="new_slot.available" value="{{ new_slot.available }}"/>
		    </div>
	    </div>
	    <div class="form-group row">
	    	<div class="col-md-3">
	    		<label class="control-label">Status: </label>
	    	</div>
		    <div class="col-md-9">
	        <select class="form-control" ng-model="new_slot.status">
	        	<option value="enabled" ng-selected="current_slot.status == 'enabled'">Enabled</option>
	        	<option value="disabled" ng-selected="current_slot.status == 'disabled'">Disabled</option>
	        </select>
		    </div>
	    </div>
		</form>
	</modal>
	<!-- Result Modal -->
	<modal data="save_modal" submit="" close="">
		{{ message }}
	</modal>
	<!-- Machines -->
	<div class="row">
		<div class="col-sm-12 col-md-4" ng-repeat="machine in stock">
			<machine data="machine" user="current_user" select="selectDrink" edit="editSlot"></machine>
		</div>
	</div>
</div>