.hide {
  display: none;
}
.center {
  text-align: center;
}
#machine {
  font-size: 1.25em;
}
#drop .modal-dialog {
  margin-top: 100px;
}
.drink {
  background: #f8f8f8;
  padding: 5px;
  border: 1px solid #e7e7e7;
  border-radius: 5px;
  margin-bottom: 30px;
  text-align: center;
  cursor: pointer;
  transition: border .25s;
}
.drink:hover {
  border: 1px solid #337ab7;
  transition: border .25s;
}
.drink-disabled{
  color: #e7e7e7;
  border: 1px solid #e7e7e7 !important;
}
.name {
  font-weight: normal;
  font-size: 1.25em;
}
.holder {
  background: #ffffff;
  border: 1px solid #e7e7e7;
  border-radius: 5px;
  width: 100px;
  height: 100px;
  margin: auto;
}