<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">{{ machine[0].display_name }}</h3>
	</div>
	<table class="table table-striped">
		<tr><th>Item</th><th>Price</th><th class="actions">Actions</th>
		<tr ng-repeat="slot in machine" ng-class="((slot.status != 'enabled') || (slot.available == 0) || (user.credits < slot.item_price)) ? 'slot-disabled' : 'slot-enabled'">
			<td ng-class="(user.admin) ? 'item-admin' : 'item'">{{ slot.item_name }}</td>
			<td ng-class="(user.admin) ? 'price-admin' : 'price'">{{ slot.item_price }}</td>
			<td ng-class="(user.admin) ? 'actions-admin' : 'actions'">
				<button type="button" ng-disabled="((slot.status != 'enabled') || (slot.available == 0) || (user.credits < slot.item_price))" class="btn btn-primary" data-toggle="modal" data-target="#selectModal" ng-click="select(slot);">Drop</button>
				<button type="button" ng-show="user.admin === '1'" class="btn btn-default" data-toggle="modal" data-target="#editSlotModal" ng-click="edit(slot);">
					<span class="glyphicon glyphicon-pencil"></span>
				</button>
			</td>
		</tr>
	</table>
</div>